:root {
    --color-primary: #3498db;
    --color-primary-light: #6eb5e5;
    --color-primary-dark: #1c6a9e;

    --color-secondary: #FFA330;

    --color-grey-dark: #324754;
    --color-grey-light-1: #f8fafb;
    --color-grey-light-2: #DDE7EC;
    --color-grey-light-3: #AFC5CF;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--color-grey-light-2);
}

.container {
    width: 120rem;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 8rem 80vh repeat(3, min-content) 15vh;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];
}