:root {
    // COLORS
    --color-primary: #3498db;
    --color-primary-light: #6eb5e5;
    --color-primary-dark: #1c6a9e;

    --color-primary-light-rgb: 110, 181, 229;
    --color-primary-dark-rgb: 28, 106, 158;

    --color-secondary: #FFA330;

    --color-grey-dark: #324754;
    --color-grey-light-1: #f8fafb;
    --color-grey-light-2: #DDE7EC;
    --color-grey-light-3: #AFC5CF;

    // FONT
    --font-primary: "Montserrat", sans-serif;

    // BOX SHADOWS
    --shadow-dark: 0 1rem 10rem rgba(0,0,0,.4);
    --shadow-light: 0 0 1rem rgba(#000, .5);

    // LINEAR GRADIENT
    --blue-gradient: linear-gradient( to right, var(--color-primary-light), var(--color-primary));
    --blue-gradient-reverse: linear-gradient( to left, var(--color-primary-light), var(--color-primary));
}

// RESPONSIVE BREAKPOINTS
$bp-xxlarge: 93.75em; // 1500px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-xsmall: 31.25em; // 500px
$bp-xxsmall: 25em; // 400px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media only screen and (max-width:$bp-large) {
        font-size: 50%; // 1rem = 8px
    }
}

body {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--color-grey-light-1);
    overflow-x: hidden;
}

.container {
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 8rem 80vh repeat(4, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];
}