:root {
    // COLORS
    --color-primary: #3498db;
    --color-primary-light: #6eb5e5;
    --color-primary-dark: #1c6a9e;

    --color-secondary: #FFA330;

    --color-grey-dark: #324754;
    --color-grey-light-1: #f8fafb;
    --color-grey-light-2: #DDE7EC;
    --color-grey-light-3: #AFC5CF;

    // FONT
    --font-primary: "Montserrat", sans-serif;

    // BOX SHADOWS
    --shadow-dark: 0 1rem 10rem rgba(0,0,0,.4);
    --shadow-light: 0 0 1rem rgba(#000, .5);

    // LINEAR GRADIENT
    --blue-gradient: linear-gradient( to right, var(--color-primary-light), var(--color-primary));
    --blue-gradient-reverse: linear-gradient( to left, var(--color-primary-light), var(--color-primary));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    font-weight: 300;
    line-height: 1.6;
    background-color: var(--color-grey-light-1);
}

.container {
    width: 100vw;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 8rem 80vh repeat(3, min-content) 15vh;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] 1fr [full-end];
}