.header {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    z-index: 2;
    position: sticky;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    // width: 80%;
    // margin: 0 auto;

    &__logo {
        width: 5rem;
        height: 5rem;
        display: block;
    }

    &__social {

        &-link:link, 
        &-link:visited {
            cursor: pointer;

            &:last-of-type {
                margin-left: 2rem;
            }
        }

        &-link:hover &-icon {
            transform: scale(1.05);
        }

        &-icon {
            height: 3rem;
            width: 3rem;
            fill: #fff;
            transform: scale(1);
            transition: all .2s;
        }

    }
}

.scrolled {
    background-color: var(--color-grey-dark);
    box-shadow: 0 0 5rem rgba(#000, .4);
    transition: all .3s;
}

.main-nav {
    margin: 0 auto;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        padding: 0 2rem;
        font-size: 2rem;
        font-weight: 300;
        transform: scale(1);
        transition: all .2s;
        
        &--cta {
            border: 1px solid var(--color-secondary);
            transition: all .2s;

            &:hover {
                background-color: var(--color-secondary);
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        
    }

    
}

