.resume {
    grid-column: center-start / center-end;
    background-color: var(--color-grey-light-1);
    padding: 4rem 0;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 6rem;

    &__box {
        height: 80vh;
        width: 50vw;
        background-color: #eee;
    }

    @media only screen and (max-width:$bp-largest) {
        grid-column: full-start / full-end;
    }

}