<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <title>Alex Strozensky &mdash; Software Developer</title>
  </head>
  <body class="container">
    <header class="header">
      <img
        src="/img/logo_white.png"
        alt="Alex Strozensky Logo"
        class="header__logo"
      />
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#projects" class="main-nav__link">My Work</a>
          </li>
          <li class="main-nav__item">
            <a href="#resume" class="main-nav__link">My Resume</a>
          </li>
          <li class="main-nav__item main-nav__item--cta">
            <a href="#contact" class="main-nav__link">Contact Me</a>
          </li>
        </ul>
      </nav>
      <div class="header__social">
        <a href="https://github.com/astrozensky" class="header__social-link">
          <svg class="header__social-icon">
            <use xlink:href="/img/sprite.svg#icon-github"></use>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/alex-strozensky/"
          class="header__social-link"
        >
          <svg class="header__social-icon">
            <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </div>
      <button class="mobile-nav__btn">
        <span class="mobile-nav__icon"></span>
        <span class="mobile-nav__icon"></span>
        <span class="mobile-nav__icon"></span>
      </button>

      <div class="mobile-nav__container hidden">
        <img
          src="/img/logo_white.png"
          alt="Alex Strozensky Logo"
          class="header__logo--mobile"
        />
        <nav class="main-nav-mobile">
          <ul class="main-nav__list main-nav__list-mobile">
            <li class="main-nav__item main-nav__item--mobile">
              <a href="#projects" class="main-nav__link">My Work</a>
            </li>
            <li class="main-nav__item main-nav__item--mobile">
              <a href="#resume" class="main-nav__link">My Resume</a>
            </li>
            <li class="main-nav__item main-nav__item--mobile">
              <a href="#contact" class="main-nav__link--mobile">Contact Me</a>
            </li>
          </ul>
        </nav>
        <div class="header__social-mobile">
          <a href="https://github.com/astrozensky" class="header__social-link">
            <svg class="header__social-icon header__social-icon--mobile">
              <use xlink:href="/img/sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/alex-strozensky/"
            class="header__social-link"
          >
            <svg class="header__social-icon header__social-icon--mobile">
              <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
    </header>
    <div class="alert__container">
      <script type="text/javascript">
        window.setTimeout(
          "document.querySelector('.alert').style.display='none';",
          2000
        );
      </script>
      <% if(error && error.length > 0){ %>
      <div class="alert alert__error" role="alert"><%= error %></div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert__success" role="alert"><%= success %></div>
      <% } %>
    </div>
    <section class="hero">
      <div class="hero__content">
        <h1 class="heading-1 hero__heading-1">Alex Strozensky</h1>
        <h2 class="heading-3 hero__heading-3">Software Developer</h2>
        <a href="#projects" class="hero__link">View my Work</a>
        <a href="#resume" class="hero__link">View my Resume</a>
      </div>
    </section>
    <section class="projects" id="projects">
      <div class="projects__container">
        <h2 class="heading-2 projects__heading">Projects</h2>

        <article class="project project-1">
          <img
            src="/img/melting_pot.png"
            alt="Melting Pot image"
            class="project__img"
          />
          <div class="project__info">
            <h4 class="heading-4 project__title">Melting Pot</h4>
            <p class="project__description">
              Melting Pot is a recipe website that utilizes the Spoonacular API
              to search thousands of recipes. The user can easily search recipes
              by cuisine and save their favorite recipes to their profile. This
              application is hosted on Heroku, please allow time for the page to
              load.
            </p>
            <a
              href="https://github.com/astrozensky/Melting_Pot"
              class="project__link"
            >
              <svg class="header__social-icon">
                <use xlink:href="/img/sprite.svg#icon-github"></use>
              </svg>
            </a>
            <a
              href="https://themeltingpot.herokuapp.com/"
              class="project__link"
            >
              View project
            </a>
          </div>
        </article>

        <article class="project project-2">
          <div class="project__info project__info-2">
            <h4 class="heading-4 project__title">Nexter</h4>
            <p class="project__description">
              Nexter is a luxury real estate website. The layout is built using
              CSS Grid and was designed by Jonas Schmedtmann.
            </p>
            <a
              href="https://github.com/astrozensky/Nexter"
              class="project__link"
            >
              <svg class="header__social-icon">
                <use xlink:href="/img/sprite.svg#icon-github"></use>
              </svg>
            </a>
            <a href="https://nexter.alexstrozensky.com/" class="project__link">
              View project
            </a>
          </div>
          <img
            src="/img/nexter.png"
            alt="Nexter project image"
            class="project__img"
          />
        </article>

        <article class="project project-3">
          <img
            src="/img/calculator.png"
            alt="Calculator app image"
            class="project__img"
          />
          <div class="project__info">
            <h4 class="heading-4 project__title">Calculator</h4>
            <p class="project__description">
              This is a four function calculator built using jQuery. I built
              this application to learn DOM manipulation and practice jQuery.
            </p>
            <a
              href="https://github.com/astrozensky/Calculator_App"
              class="project__link"
            >
              <svg class="header__social-icon">
                <use xlink:href="/img/sprite.svg#icon-github"></use>
              </svg>
            </a>
            <a
              href="https://calculator.alexstrozensky.com/"
              class="project__link"
            >
              View project
            </a>
          </div>
        </article>

        <article class="project project-4">
          <div class="project__info project__info-2">
            <h4 class="heading-4 project__title">Trillo</h4>
            <p class="project__description">
              Trillo is an all in one booking website. I built this project to
              master CSS Flexbox and SCSS. The website was designed by Jonas
              Schmedtmann
            </p>
            <a
              href="https://github.com/astrozensky/Trillo"
              class="project__link"
            >
              <svg class="header__social-icon">
                <use xlink:href="/img/sprite.svg#icon-github"></use>
              </svg>
            </a>
            <a href="https://trillo.alexstrozensky.com/" class="project__link">
              View project
            </a>
          </div>
          <img
            src="/img/trillo.png"
            alt="Trillo project image"
            class="project__img"
          />
        </article>
      </div>
    </section>
    <section class="contact" id="contact">
      <div class="contact__container">
        <h2 class="heading-2 contact__heading">
          Contact Me <span class="accent-line"></span>
        </h2>
        <div class="contact__info">
          <h4 class="heading-4">
            Alex Strozensky<span class="accent-line"></span>
          </h4>
          <p class="contact__details">
            (678) 620-9386
            <span class="contact__details-span"></span>
            alexestrozensky@gmail.com
            <span class="contact__details-span"></span>
            Missoula, Montana
          </p>
        </div>
        <form action="/email" method="POST" class="contact__form">
          <label for="name"></label>
          <input
            id="name"
            name="name"
            type="text"
            class="form__input"
            placeholder="Your Name"
          />
          <label for="email"></label>
          <input
            id="email"
            name="email"
            type="email"
            class="form__input"
            placeholder="Your Email"
          />
          <label for="message"></label>
          <textarea
            name="message"
            id="message"
            class="form__message"
            cols="10"
            rows="15"
            placeholder="Message"
          ></textarea>
          <button class="btn" type="submit">
            <svg class="form__btn-icon">
              <use xlink:href="/img/sprite.svg#icon-paper-plane"></use>
            </svg>
            Send
          </button>
        </form>
      </div>
    </section>
    <section class="resume" id="resume">
      <h2 class="heading-2 resume__heading">Resume</h2>
      <figure class="resume__box">
        <img
          src="/img/Developer Resume.png"
          alt="Image of resume"
          class="resume__img"
        />
      </figure>
      <a
        href="/img/Alex Strozensky - Resume.pdf"
        download="Alex Strozensky - Resume.pdf"
        class="resume__link"
        >Download PDF resume</a
      >
    </section>
    <footer class="footer">
      <nav id="footer-nav" class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#projects" class="main-nav__link">My Work</a>
          </li>
          <li class="main-nav__item">
            <a href="#resume" class="main-nav__link">My Resume</a>
          </li>
          <li class="main-nav__item main-nav__item--cta">
            <a href="#contact" class="main-nav__link">Contact Me</a>
          </li>
        </ul>
      </nav>
      <div id="footer__social" class="header__social">
        <a href="https://github.com/astrozensky" class="header__social-link">
          <svg class="header__social-icon">
            <use xlink:href="/img/sprite.svg#icon-github"></use>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/alex-strozensky/"
          class="header__social-link"
        >
          <svg class="header__social-icon">
            <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </div>
      <img
        src="/img/logo_grey.png"
        alt="Alex Strozensky Logo"
        class="footer__logo"
      />
      <p class="footer__copyright">&copy; Copyright 2020 Alex Strozensky</p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js" type="text/javascript"></script>
  </body>
</html>
